{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <ul class="list-group mb-4">
      {% for item in todos %}
      <li id="{{item.id}}">{{ item.title }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<input class="form-check-input" type="checkbox" value="" id="">

<div class="row">
  <div class="col-md-12">
    <form action="{{ url_for('add_item') }}" method="post">
      <input type="text" name="new-item" id="new-item" value="" placeholder="New item" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}